<div class="container">
    <mat-card class="card">
        <mat-card-content>
          
      <form (submit)="login()">
       
        <img src="../../assets/logo-removebg-preview (2).png" class="round" >
        <h1>LOGIN FORM</h1>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="loginName">User name</label>
          <input type="text" name="userName"[(ngModel)]="LoginData.userName" class="form-control" />
          
        </div>
  
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Password</label>
          <input type="password" name="userPassword" [(ngModel)]="LoginData.userPassword" class="form-control" />
       
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck"> Remember me </label>
            </div>
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a routerLink="/dash">Forgot password?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Login</button>
  
<p>Dont have an account?<a routerLink="/register">Register</a></p>    

      </form>
        </mat-card-content>
    </mat-card>
</div>