<div class="container">
    <mat-card class="card">
        <mat-card-content>
      <form>
       
        <h1>REGISTRATION FORM</h1>
        
        <div class="container">
            <div class="row">

            <div  class="col-md-6">
                <div class="col">
          <label class="form-label" for="loginName">First name</label>
          <input type="text" name="userName"  class="form-control" /></div></div>
          <div class="col-md-6">
            <div class="coll">
          <label class="form-label" for="loginName">Last name</label>
          <input type="text" name="userName"  class="form-control" /></div>
        </div>
        </div></div>
        <br>
        
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="loginPassword">User name</label>
            <input type="username" name="username"  class="form-control" />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Address</label>
            <input type="address" name="useraddress"  class="form-control" />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Status</label>
            <input type="status" name="status"  class="form-control" />
          </div>

       
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Password</label>
          <input type="password" name="userPassword"  class="form-control" />
       
        </div>

         
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="loginPassword"> Comfirm Password</label>
            <input type="password" name="userPassword"  class="form-control" />
         
          </div>
  
       
  
        
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block mb-4">register</button>
  
<p></p>

      </form>
        </mat-card-content>
    </mat-card>
</div>